* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.card {

    padding: 10px;
}
.btn_todos {
    display: flex;
    padding-bottom: 5px;
    margin-bottom: -10px;
}
.box {
    padding: 10px;
}